

header {
    background-color: orange;
    border-bottom: 1px solid black;
    font-family: "Arial";
    height: 2vw;
    padding: 1vw;
    color: white;
}

p {
  font-family: "Helvetica";  
}

footer {
    background-color: black;
    text-align: center;
    height: 2vw;
    padding: 0.5vw;
    color: white;
}

main {
    margin: 0.75vw;
    padding: 1vw 1.5vw;
    width: 90vw;
    height: 80vh;
}

article {
    margin: 1.25vw 0;
}

.destaque {
    color: orange;
}