*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #0C1629;
    color: white;
    
    padding: 10px;
}

.busca{
    
}

main {
    background-color: #283940;
    height: 34rem;
}

.jogos {
    margin: 10px auto;
    border: 5px solid black;
    width: 18rem;
    background-color: #EFF2E4;
}

footer{
    background-color: #0C1629;
    text-align: center;
    color: white;
}