button:hover {
    background-color: red;
    color: white;
    border-radius: 3px;
}

button:active{
    background-color: pink;
    color: red;
    border-radius: 3px;
}

button{
    height: 50px;
    width: 150px;
}

body{
    text-align: center;
}