* {
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 25vh);
}

section{
    border: 1px solid black;
}

@media screen and (max-device-width: 480px) {
    main{
        display: flex;
        flex-direction: column;
    }
    section{
        height: 10vh;
        text-align: center;
        color: red;
    }
}